    <form method="post" action="~/Schedule/Schedule">
        <div>
            <input id="userId" name="userId" type="text" placeholder="職工編號" />
            <input id="userPassword" name="userPassword" type="password" placeholder="密碼" />
        <input id="month_shift" name="month_shift" placeholder="月偏移=-2,-1,0,1,2,..." />
            <input type="submit" value="更新" class="btn btn-warning" />
        </div>
    </form>

