@model List<ActionMethodInfo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group" style="margin:4px">
    <label>輸入</label>
    <input type="text" id="myinput" >
    <button id="SendButton" class="btn btn-primary">SendToGoogle</button>
    <button id="OpenFolderButton" class="btn btn-primary">OpenFolder</button>
</div>

<div id="app">
    <form v-on:submit.prevent="EIP_Login">
        <label>職工編號</label>
        <input type="text" id="userId" v-model="userId" required>

        <label>密碼</label>
        <input type="password" id="password" v-model="userPassword" required>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<h2>Action Methods</h2>

<ul>
    @foreach (var method in Model)
    {
        <li><a href="@method.Url">@method.Name</a></li>
    }
</ul>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    function setSendButton() {
        var Button = document.getElementById('SendButton');
        Button.addEventListener('click', function () {
            var parameter = 'Home/TypeToGoogle';
            ajax_post(parameter)
        });

        var btn_OpenFolder = document.getElementById('OpenFolderButton');
        btn_OpenFolder.addEventListener('click', function () {
            var parameter = 'Home/OpenFolder';
            ajax_post(parameter)
        });
    };
    setSendButton();
    function ajax_post(url) {
        var myinput = document.getElementById("myinput");
        $.ajax({
            url: url,
            type: 'POST',
            data: { myinput: myinput.value },
            success: function (data) {
                global_data = data;

                //// 篩選出重量小於等於輸入重量的資料項目
                //var filteredData = global_data.filter(function (item) {
                //    return item.重量 <= selectedWeightLimit;
                //});
            }
        });
    };
</script>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                userId: '', 
                userPassword: ''
            };
        },
        updated() {
            // 在组件重新激活时重新初始化排序功能
        },
        methods: {
            EIP_Login() {
                // 使用 AJAX 登入EIP
                $.ajax({
                    url: 'Home/EIP_API',
                    type: 'POST',
                    data: { userId: this.userId, userPassword: this.userPassword},
                    //contentType: 'application/json',
                    success: (responseData) => {
                            console.log(responseData);                        
                        //this.pkl_1 = uniqueArray.slice(0, 24);
                        //this.pkl_1_code_count = this.count_Code(this.pkl_1);
                        //prun_pkl1_data = this.pkl_1;
                        console.log('PKL_1 data updated successfully');
                    },
                    error: (xhr, status, error) => {
                        console.error('Error updating pkl_1 data:', error);
                    }
                });
            }
        },
        created() {
            //this.update_PKL_1_Data();
            //// 在 Vue 实例被创建后，每隔一段时间调用 update_PKL_1_Data,update_PKL_2_Data 函数
            //setInterval(() => {
            //    this.update_PKL_1_Data();
            //}, 60000); // 每 60 秒执行一次，可以根据需求调整时间间隔
        }

    });
</script>
